<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=3">

</head>
<body class="{{ emotion }}">

    <h1>{{ emotion.capitalize() }} Room</h1>
    <p class="quote" id="quote"></p>
    <p>You are: <b>{{ username }}</b></p>

    <div class="chat-box">
        {% for msg in messages %}
            <div class="message {% if msg[2] == username %}my-msg{% endif %}">
                <b>{{ msg[2] }}:</b> {{ msg[3] }}
            </div>
        {% endfor %}
    </div>

    <form method="POST">
        <input type="text" name="message" placeholder="Type message..." required>
        <button type="submit">Send</button>
    </form>

    <br>
    <a href="/emotions"><button>Change Emotion</button></a>

    <script>
        const quotes = {
            stressed: "This feeling is temporary. You are stronger than you think.",
            anxious: "Take a deep breath. You are safe.",
            happy: "Keep spreading your positivity.",
            motivated: "You are capable of amazing things."
        };

        document.getElementById("quote").innerText = quotes["{{ emotion }}"];

        setTimeout(function(){
            window.location.reload();
        }, 5000);
    </script>

</body>
</html>
