<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Emotion: {{ emotion }}</h1>
    <h3>You are: {{ username }}</h3>

    <div class="chat-box">
        {% for msg in messages %}
            <div class="message">
                <b>{{ msg[2] }}:</b> {{ msg[3] }}
            </div>
        {% endfor %}
    </div>

    <form method="POST">
        <input type="text" name="message" placeholder="Type message..." required>
        <button type="submit">Send</button>
    </form>

    <br>
    <a href="/emotions"><button>Change Emotion</button></a>

    <script>
        setTimeout(function(){
            window.location.reload();
        }, 5000);
    </script>

</body>
</html>
